{
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "extends": [
    "plugin:react/recommended",
    "airbnb",
    "plugin:jsx-a11y/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended",
    "prettier"
  ],
  "globals": {
    "React": "readonly"
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "plugins": ["react", "react-hooks", "@typescript-eslint", "prettier"],
  "rules": {
    "jsx-a11y/anchor-is-valid": "off",
    "react/destructuring-assignment": "off",
    "react/no-danger": "off",
    "react/function-component-definition": "off",
    "react/jsx-props-no-spreading": "off",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".tsx", ".jsx"]
      }
    ],
    "react/require-default-props": "off",
    "react/prop-types": "off",
    "prettier/prettier": [
      "warn",
      {
        "printWidth": 80,
        "singleQuote": true,
        "trailingComma": "es5",
        "arrowParens": "avoid",
        "semi": false
      }
    ],
    "import/prefer-default-export": "off",
    "import/extensions": [
      2,
      "ignorePackages",
      {
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never"
      }
    ],
    "@typescript-eslint/ban-types": [
      "error",
      {
        "types": {
          "React.FC": {
            "message": "Please don't use React.FC, prefer explicit definition children, like ReactNode or PropsWithChildren interface.",
            "fixWith": "ReactNode"
          },
          "React.FunctionalComponent": {
            "message": "Please use React.FunctionalComponent, prefer explicit definition children, like ReactNode or PropsWithChildren interface.",
            "fixWith": "ReactNode"
          }
        }
      }
    ],
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "no-plusplus": "off"
  },
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/resolver": {
      "typescript": {}
    }
  }
}
